<table class="table table-hover table-dark text-center">
    <tbody>
        <tr>
            <td>18/05/05</td>
        </tr>
        <tr>
            <td>Closing of the day $25.26</td>
        </tr>
    </tbody>
</table>
<table class="table table-hover table-dark text-center">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
        <tr>
            <td>18/05/05</td>
            <td>$25.26</td>
        </tr>
    </tbody>
</table>